body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #41bdb7;
    margin: none;
    padding: none;
}

main{
    text-align: center;
}

header {
    height: 50px;
    border-bottom: 0.5px solid rgb(230, 224, 224);
}

nav, ul, h2, h3{
    display: inline;
}

h2 {
    margin-right: 150px;
    margin-left: 100px;
}

.top_ul {
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

.top_li {
    display: inline;
    margin: 0 30px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

span {
    display: block;
}

#heading {
    margin-top: 70px;
    margin-bottom: 30px;
}

#discover {
    color: white;
    font-size: 50px;
    font-weight: 650;
}

#platform {
    color: #274b5f;
    font-weight: bold;
}

input {
    width: 500px;
    height: 50px;
    padding-left: 40px;
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
    background-color: #25686d;
    color: white;
    height: 50px;
    width: 100px;
    margin: 0 10px;
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#web, #finance{
    display: inline-block;
    text-align: left;
    margin: 30px 20px;
    border-radius: 15px;
}

#web {
    background-color: white;
    height: 300px;
    width: 250px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#finance {
    background-color: #25686d;
    color: white;
    height: 300px;
    width: 400px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
    background-color: white;
}

#first, #second, #third, #fourth {
    display: inline-block;
    text-align: left;
    margin: 0 80px;
}

#first {
    
    height: 100px;
}

#second {
    
    margin-top: 50px;
}

#third {
    
    margin-top: 50px;
}

#fourth {
    
}

.bottom_ul {
    list-style: none;
    margin-top: 20px;
}

.bottom_a {
    color: #41bdb7;
}
